
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*This is the home button.*/
.home-button {
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    background-color: #b83131;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.3s ease all 0s;
}

/*The home button changes colour if a cursor is hovered over it.*/
.home-button:hover {
    background-color: #761414;
}

/*Design of the checkerboard.*/
#board {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
}

/*All grids placed in an 8x8 board.*/
.grid-buttons {
    
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 100vh;
    width: 100vh;
}

/*Makes the tiles with draughts interactable.*/
.grid-buttons button {
    border: none;
}

/*Design of a black tile.*/
.black-tile {
    background-color: rgb(112, 88, 66);
}

/*The rest of the text and backgrounds for the whole website, including the Main Menu.*/
body, html {
    text-align: center;
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .cover {
        text-align: center;
        background: rgba(255, 255, 255, 0.8);
        padding: 50px;
        border-radius: 10px;
    }